body{
    background-image: url("https://cutewallpaper.org/23/most-relaxing-desktop-wallpaper/32114407.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}
.main{
    width: 100%;
    height: 70px;
    background-color :rgba(255,255,255,1);
    position: absolute;
    top: 0;
    right: 0;
}
.logo{
    width: 200px;
    height:10px;
    float: auto;
    
}
.icon{
    color: black;
    font-family: 'Times New Roman';
    font-size: 35px;
    float:left;
    position: absolute;
    left:10px;
}
.l1{
    position:absolute;
    top:0;
    left:175px;
    width: 90px;
    height:70px;
    overflow: hidden;
}
ul{
    margin-left: 50px;
    display: flex;
}
ul li{
    list-style: none;
    margin-left: 200px;
   
}
ul li a{
    text-decoration: none;
    display: inline-block;
    font-family: 'Times New Roman';
    font-size: 30px;
    color: rgb(80, 78, 78);
    background-color: white;
    height: 50px;
    position: absolute;
    top:0;
    line-height: 70px;
    
}
ul li a:hover{
    background-color: rgb(32, 155, 203);
    color: black;
    text-decoration: none;
    position: absolute ;
    top: 0;
    height:70px;
    width: 140px;
    text-align: center;
   
}
.login li a{
    position:absolute;
    top:10px;
    left: 1070px;
    height:50px;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 2px solid  rgb(14, 14, 56);
    width:130px;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 25px;
    font-family:Cambria;
}
.login li a:active{
    background-color: rgb(14, 14, 56);
    color: white;
}
.signup li a{
    position:absolute;
    top:10px;
    left: 1210px;
    height:52px;
    background-color: rgb(14, 14, 56);
    color: white;
    width:130px;
    text-align: center;
    line-height: 45px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 25px;
    font-family:Cambria;
}
.signup li a:active{
    background-color: white;
    color:black;
    border: 2px solid  rgb(14, 14, 56);
}
.box1{
    background-color: rgba(0, 0, 132, 0.9);
    width:840px;
    height:645px;
    position: absolute;
    left:50px;
    top:100px;
    border-radius: 20px;
}
.table1{
    width:250px;
    height:300px;
    background-color: white;
    border-radius: 8px;
    position:absolute;
    left:20px;
    top:15px;
}
.table2{
    width:250px;
    height:300px;
    background-color: white;
    border-radius: 8px;
    position:absolute;
    left:285px;
    top: 15px;
}
.table3{
    width:250px;
    height:300px;
    background-color: white;
    border-radius: 8px;
    position:absolute;
    left:553px;
    top:15px;
}
.table4{
    width:250px;
    height:300px;
    background-color: white;
    border-radius: 8px;
    position:absolute;
    left:20px;
    top:330px;
}
.table5{
    width:250px;
    height:300px;
    background-color: white;
    border-radius: 8px;
    position:absolute;
    left:285px;
    top:330px;
}
.table6{
    width:250px;
    height:300px;
    background-color: white;
    border-radius: 8px;
    position:absolute;
    left:553px;
    top:330px;
}
.paris{
    width: 230px;
    height:180px;
    overflow: hidden;
    position: absolute;
    left:10px;
    top:10px;
    right:10px;

}
.word{
    color: black;
    font-size: 15px;
    position:absolute;
    left:10px;
    top:180px;
    line-height: 20px;
}
.box1 li a{
    position:absolute;
    left :0;
    bottom:0;
    right:0;
    height:35px;
    background-color: rgb(14, 14, 56);
    text-decoration: none;
    font-size:20px;
    line-height: 30px;
    color: white;
    text-align: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.box1 li a:active{
    color: black;
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 2px solid black;
    height: 32px;
    font-weight: bold;
}
.circle{
    background-color: rgba(238, 130, 238,0.9);
    width:550px;
    height:550px;
    border-radius: 100%;
    position: absolute;
    top:200px;
    right:10px;
}
.circle h1{
    position:absolute;
    top:150px;
    left:40px;
    font-size: 50px;
    font-family: Cambria;
}
.circle1{
    background-color: white;
    width:200px;
    height:200px;
    border-radius: 100%;
    position:absolute;
    top:150px;
    right:20px;
}